@mixin box-sizing( $box-model ) {
    box-sizing: $box-model;
}

// Media Queries
@mixin telefone {
    @media ( min-width: #{ $telefone } ) {
        @content;
    }
}

@mixin tablet {
    @media ( min-width: #{ $tablet } ) {
        @content;
    }
}

@mixin desktop {
    @media ( min-width: #{ $desktop } ) {
        @content;
    }
}

@mixin button( $bg-color, $color ) {
    background-color: $bg-color;
    color: $color;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 1rem 0;
    font-size: 1rem;
    border: none;
    border-radius: $radius;
}