@mixin box-sizing( $box-model ) {
    box-sizing: $box-model;
}

// Media Queries
@mixin telefone {
    @media ( min-width: #{ $telefone } ) {
        @content;
    }
}

@mixin tablet {
    @media ( min-width: #{ $tablet } ) {
        @content;
    }
}

@mixin desktop {
    @media ( min-width: #{ $desktop } ) {
        @content;
    }
}
