// Fuentes
$firstFont: Arial, Helvetica, sans-serif ;

// Media Queries
$telefone: 480px;
$tablet: 768px;
$desktop: 1200px;

// Colores 
$firstColor: #E50914;
$secondColor: #E87C03;
$gray: #323232;
$gray2: #8C8C8C;
$gray3: #454545;
$white: #FFFFFF;
$black: #000000;

$radius: 5px;